################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/my-ipo-checker/FileContentIndex/6195276c-000d-48cf-9305-56279ea9340c.vsidx
